@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    background-image: url("api.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    max-width: 800px;
    width: 100%;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}

.button i {
    margin-right: 10px;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.card {
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    backdrop-filter: blur(5px);
    max-width: 300px;
    width: 100%;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.card p {
    margin-bottom: 10px;
}

.card p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: contain;
    }

    .container {
        margin-top: 10%;
    }

    .button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .logo {
        width: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin: 5px 0;
        font-size: 12px;
    }

    .data-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .card {
        padding: 10px;
    }

    .card-title {
        font-size: 16px;
    }

    .card p {
        font-size: 14px;
    }
}